<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.raf.projekatjun.relja_mikanovic_rn6719">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fontFamily="sans-serif-condensed-medium"
        android:icon="@mipmap/ic_meet"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_meet_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjekatJun">


        <activity
            android:name=".activities.ShowEventsActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AddEventActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>